/* CSS file */
.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #333; /* Set your desired background color */
    color: #fff; /* Set text color */
    padding: 13px; /* Add padding as needed */
    z-index: 1;
  }
  
  .navbar a {
    text-decoration: none;
    color: inherit;
    margin-right: 20px; /* Adjust the margin as needed */
  }
  
  /* Style the tabs */
  .nav-tabs {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .nav-tab-logo {
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }

  .nav-tab {
    margin-right: 20px;
  }
  
  .nav-tab:last-child {
    margin-right: 0;
  }
  
  .nav-tab a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .nav-tab a:hover {
    text-decoration: underline;
  }
  