.song-grid-bg {
  background-color: #221e1f;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
}

.song-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding-top: 100px;
}

.song-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.song-image-container {
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative;
  overflow: hidden;
}

.song-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-title {
  margin: 0;
  color: #8C9BAB;
  font-size: 16px;
}

.song-info {
  padding: 0; /* Adjust as needed */
  text-align: left;
  width: 100%; /* Ensure full width for alignment */
  color: #DEE4EA;
  font-size: 14px;
}

.artist-delete-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.song-artist {
  margin: 0;
}

.delete-button {
  margin-top: 0;
}

@media (max-width: 600px) {
  .song-grid {
    grid-template-columns: 1fr;
  }
}

.delete-button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button:hover,
.delete-button:focus {
  /* Optional: Style changes for hover or focus states */
  color: red; /* Change color on hover or focus */
}

/* Ensure FontAwesome icon has appropriate size */
.delete-button .fa-trash {
  font-size: 15px; /* Adjust size as needed */
}

