/* UploadForm.css */

.upload-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #221e1f;
  min-height: 100vh;
}

.upload-container {
  display: flex;
  width: 100%;
  align-items: flex-start; 
  justify-content: center;
  vertical-align: center;
  margin-top: 200px;
}

.upload-preview {
  width: 300px; 
  margin-right: 30px; 
}

.upload-form {
  position: relative;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(208,76,153,1) 50%, rgba(236,92,63,1) 100%); 
  opacity: 0.9;
  background-size: cover;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #221e1f;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #030303;
  text-align: left;
}

input {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border: 0px solid #ccc;
  border-radius: 5px;
  text-align: center;
  display: block;
}

button {
  margin-top: 10px;
  align-self: center; 
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: #000000;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms, background 200ms;
  :hover{
      transform: translateY(-2px);
  }
  
}

.form-group {
  margin-bottom: 15px;
}

.custom-button {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  font-size: 13px;
  height: 30px;
  background-color: #030303;
  color: white;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
}

.custom-button:hover {
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(208,76,153,1) 50%, rgba(236,92,63,1) 100%); ;
}

.custom-button span {
  display: block;
  padding: 6px 12px;
  pointer-events: none;
}

.custom-file-input input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

input[type="text"] {
  background-color: #221e1f;
  color: #de546d
}
